[Interface]
Address = {{ vpn_ip }}/32
ListenPort = 51820
PrivateKey = {{ wg_private_key }}

{% if 'cloud' in group_names %}
# I am the cloud server, peer is the edge device
[Peer]
PublicKey = {{ hostvars[groups['edge'][0]]['wg_public_key'] }}
AllowedIPs = {{ hostvars[groups['edge'][0]]['vpn_ip'] }}/32
{% else %}
# I am the edge device, peer is the cloud server
[Peer]
PublicKey = {{ hostvars[groups['cloud'][0]]['wg_public_key'] }}
Endpoint = {{ hostvars[groups['cloud'][0]]['ansible_host'] }}:51820
AllowedIPs = {{ hostvars[groups['cloud'][0]]['vpn_ip'] }}/32
PersistentKeepalive = 25
{% endif %}